/* style for illusion_react in addition to bootstrap*/
body,
html,
div.board,
div#react-container {
	height: 100%;
	overflow: hidden;
	background-image: url(../assets/cork-board-watermarked.jpg);
}

body {
	margin: 0;
}