/* style for illusion_react in addition to bootstrap*/
body,
html,
.board,
div#react-container {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

.board {
	background-image: url(../assets/cork-board-watermarked.jpg);
}

.note {
	height: 150px;
	width: 150px;
	margin: 10px;
	/*position: absolute;*/
	background-color: yellow;
	float: left;
	box-shadow: 3px 3px 5px 0 black;	
}